nav {
    width: 100vw;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    background-image: linear-gradient(45deg, rgb(0, 134, 179), rgba(153, 230, 255, 0.25)), linear-gradient(45deg, rgba(77, 121, 255, 0.25), rgba(0, 51, 204, 1));
    margin-bottom: 1.5rem;
}

#logout {
    cursor: pointer;
}

.navbar-brand {
    font-family: "allura", "Lucida Sans";
    font-size: 40px;
    letter-spacing: 0.05rem;
}

.navbar-brand span {
    font-family: "Great Vibes", "Lucida Grande", "Calibri";
    font-size: 50px;
}

.navbar-brand a {
    color: white;
}

.nav-links {
    border: 2px solid black;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.react-link {
    height: 100%;
}