@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

nav {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    background-image: linear-gradient(45deg, rgb(0, 134, 179), rgba(153, 230, 255, 0.25)), linear-gradient(45deg, rgba(77, 121, 255, 0.25), rgba(0, 51, 204, 1));
    background-blend-mode: overlay;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    grid-area: nav;
    box-shadow: 0 1px 3px 2px rgba(197, 226, 243, 1.0);
}

.logo-caption {
    /* border: thick solid black; */
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 15%;
}

.logo {
    font-size: 2.0rem;
}

.logo span {
    font-size: 50px;
    font-family: "Great Vibes", "Trebuchet MS", "Lucida Grande", "Lucida Sans", sans-serif;
}

.caption {
    font-style: italic;
    margin-left: 1.3rem;
}

.space {
    flex: 1;
}

.nav-links {
    /* border: thick solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 15%;
}

li {
    /* border: thick solid black; */
    list-style: none;
    text-align: center;
    margin: 0.5rem;
    width: 33%;
}

.react-link, .react-link:hover {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .logo-caption {
        flex-direction: row;
        align-items: center;
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .caption {
        font-size: 15px;
        margin-left: 1.0rem;
        text-shadow: 2px 2px darkblue;
    }

    nav {
        justify-content: center;
    }
}
