* {
    margin: 0;
    padding: 0;
}

.toggle-button {
    height: 25px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1.0rem;
}

.toggle-bar {
    background-color: white;
    width: 25px;
    height: 3px;
}

@media(min-width: 769px) {
    .toggle-button {
        display: none;
    }
}
