.wave-container {
    grid-area: main;
    height: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
}

.destroyed {
    animation: destroyMain 250ms ease-out;
    animation-fill-mode: forwards;
}

@keyframes destroyMain {
    0% { 
        opacity: 1.0; 
        transform: translateY(0);
    }

    100% {
        opacity: 0.0; 
        transform: translateY(10px);
    }
}

wave {
    width: 100%;
    height: 100%;
}

.wave-container div {
    margin-bottom: 1.9rem;
}

.wave-container__wave--loaded {
    animation: waveLoad 0.25s ease-in;
    animation-fill-mode: forwards;
}

.wave-container__wave--destroyed {
    animation: waveDestroy 0.25s ease-out;
    animation-fill-mode: forwards;
}

@keyframes waveLoad {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}

@keyframes waveDestroy {
    0% { transform: scaleY(1); }
    100% { transform: scaleY(0); }
}

.mediabuttons {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.mediabuttons__button {
    width: 11rem;
    height: 2.0rem;
    background-color: rgba(0, 179, 160, 0.85);
    border: solid 1.0px rgba(0, 179, 160, 1.0);
    text-shadow: 2px 2px rgba(0, 179, 143, 1.0);
    color: white;
    font-family: Calibri;
    font-size: 1.15rem;
    position: relative;
    animation: buttonFadeIn 500ms ease-in;
}

@keyframes buttonFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.replay--native {
    border-radius: 20px 0 0 20px;
}

.mic-toggle-clicked {
    animation: buttonMorph 500ms ease-in;
    animation-fill-mode: forwards;
}

/* move to JS */
@keyframes buttonMorph {
    0% { 
        border-radius: 20px 0 0 20px; 
    }
    
    100% {
        border-radius: 20px 20px 20px 20px;
        margin-left: 11rem;
    }
}

.mic-toggle--first-try {
    border-radius: 0 20px 20px 0;
}

.clicked {
    animation: buttonFadeOut 500ms ease-out;
    animation-fill-mode: forwards;
}

@keyframes buttonFadeOut {
    0% { opacity: 1.0; }
    100% { 
        opacity: 0; 
        pointer-events: none;
    }
}

.mic-toggle--first-try span {
    padding-right: 1.25rem;
}

.mic-toggle--first-try span::after {
    content: "🎤";
    position: absolute;
    margin-left: 0.15rem;
    animation: jiggleMic 1s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes jiggleMic {
    0%, 100% { transform: rotateZ(0deg); }
    50% { transform: rotateZ(20deg); }
    75% { transform: rotateZ(-25deg); }
}

.stop, .stop::after {
    border-radius: 20px 20px 20px 20px;
}

.stop {
    z-index: 0;
    transition: all 150ms ease-in;
}

.stop:hover {
    background-color: rgba(252, 66, 33, 0.85);
    border-color: rgba(252, 66, 33, 1.0);
    text-shadow: 2px 2px rgba(252, 66, 33, 1.0);
}

.replay--playback {
    border-radius: 0 20px 20px 0;
}

.mic-toggle--try-again {
    border-radius: 20px 0 0 20px;
}

.replay--native:hover, .replay--playback:hover, .mic-toggle--first-try:hover, .mic-toggle--try-again:hover {
    background-color: rgba(0, 149, 130, 0.85);
}
