.landing {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url("/img/wavenative_landing-banner.jpg");
    width: 100vw;
    height: 100vh;
    filter: sepia(60%) brightness(75%);
    background-size: cover;
    position: relative;
    opacity: 0.85;
}

.landing__banner span {
    font-family: "Great Vibes", "Lucida Grande";
    font-size: 120px;
}

.landing__banner {
    width: 100%;
    position: absolute;
    /* margin-top: 5%; */
    top: 0;
    /* z-index: 1; */
    position: relative;
    background-color: rgba(37, 82, 149, 0.8);
    color: white;
    font-size: 100px;
    padding: 0.5rem;
    padding-left: 5rem;
    font-family: "allura";
    /* height: 12rem; */
    letter-spacing: 0.1rem;
}

.landing__contents {
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px #333;
    margin-left: 45%;
    margin-top: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.landing__contents button {
    border: 1px solid #333;
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .landing {
        /* display: flex; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .landing__contents {
        margin: 0 auto;
        color: black;
        padding: 1rem;
    }

    .landing__contents button {
        width: 80%;
    }

    .landing__banner {
        height: auto;
    }
}

@media only screen and (max-width: 980px) {

    .landing__banner span {
        font-size: 80px;
    }
    .landing__banner {
        font-size: 60px;
        padding-left: 0rem;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .landing__banner, .landing__banner span {
        font-size: 40px;
        padding-left: 0rem;
        text-align: center;
    }
}