.search-bar {
    margin-bottom: 2rem;
}

 .search-bar button, .search-bar input {
    height: 2.5rem;
    margin-bottom: 1rem;
}

.search-bar input {
    border: none;
    border-left: 1px solid rgb(201, 200, 200);
    border-bottom: 2px solid rgb(199, 199, 199);
    border-radius: 0.25rem;
    outline: none;
    padding-left: 1rem;
}

.search-bar button {
    border-radius: 0 0.25rem 0.25rem 0; 
}

.search-bar:focus {
    outline: none;
}

.wave__word-label { 
    border: 2px solid black;
    padding-left: 2rem;
    font-family: "Great Vibes";
    font-size: 40px;
 }

 .search__wave-container { 
    width: 70%;
    border: 2px solid black;
    margin-bottom: 4rem;
 }

.search__wave-container.user {
    padding: 2rem 0;
}

wave > canvas {
     width: 100%;
}

.btn-media {
    width: 100%;
}

.btn-media.record {
    margin: 1rem 0;
}

@media screen and (max-width: 980px) {
    .wave__media-buttons button {
        margin: 0;
    }

    .search__wave-container {
        width: 95%;
    }
}