:root {
    --nav-bg-img: linear-gradient(45deg, rgb(0, 134, 179), rgba(153, 230, 255, 0.25)), linear-gradient(45deg, rgba(77, 121, 255, 0.25), rgba(0, 51, 204, 1));
    --button-bg: rgb(0, 179, 160);
    --button-border: solid 1.0px rgba(0, 179, 160, 1.0);
    --button-textShadow: 2px 2px rgba(0, 179, 143, 1.0);
    --app-bg: 15, 91, 179;
    --pb-wave-color: 0, 44, 102;
    --pb-wave-prog-a: 1.0;
    --pb-wave-reg-a: 0.6;
}